name: Lint Codebase

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: read
  packages: read
  statuses: write # To report GitHub Actions status checks

jobs:
  lint-typescript:
    name: Lint TypeScript
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Setup Node.js
        id: setup-node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .node-version
          cache: npm

      - name: Install Dependencies
        id: npm-ci
        run: npm ci --no-fund

      - name: Lint TypeScript with Biome
        id: biome
        run: npm run check

  lint-codebase:
    name: Lint Codebase
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Lint Codebase with Super-Linter
        id: super-linter
        uses: super-linter/super-linter@61abc07d755095a68f4987d1c2c3d1d64408f1f9 # v8.5.0
        env:
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          FILTER_REGEX_EXCLUDE: (dist/**/*)|(__tests__/fixtures/**/*)
          FIX_TYPESCRIPT_PRETTIER: false # Using biome
          FIX_JAVASCRIPT_PRETTIER: false # Using biome
          VALIDATE_ALL_CODEBASE: true
          VALIDATE_JAVASCRIPT_STANDARD: false # Using biome
          VALIDATE_JAVASCRIPT_PRETTIER: false # Using biome
          VALIDATE_JSON_PRETTIER: false # Using biome
          VALIDATE_JSCPD: false # Using biome
          VALIDATE_MARKDOWN: false # Not needed, using textlint and prettier
          VALIDATE_TERRAFORM_FMT: false # Terraform modules here aren't needed (They're for testing only)
          VALIDATE_TERRAFORM_TFLINT: false # Terraform modules here aren't needed (They're for testing only)
          VALIDATE_TYPESCRIPT_STANDARD: false # Using biome
          VALIDATE_TYPESCRIPT_ES: false # Using biome
          VALIDATE_TYPESCRIPT_PRETTIER: false # Using biome
          VALIDATE_GITHUB_ACTIONS_ZIZMOR: false # This is new. Will investigate this further

